@charset "utf-8";
/*------------------------------------------------------------------------*/
/*This is the CSS style sheet for Robby Fussell Project1 for CSCIE-15     */
/*------------------------------------------------------------------------*/
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	color: #000;
	text-align: center;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}
a:link {
	color: #42413C;
	text-decoration: underline; 
}

.container {
	width: 960px;
	background-color: #FFF;
	margin: 0 auto; 
}

.header {
	background-color: #FFFFFF;
}

.content {
	height: 344px;
	position:relative;
}

.footer {
	position:relative;
	clear:both;
	padding: 10px 0;
	background-color: #0099FF;
}

